*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
*.so
*.egg
*.egg-info
dist
build
.env
.env.local
db.sqlite3
*.log
.pytest_cache
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
staticfiles/
media/
